@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ConcertOne";
  src: url("../assets/fonts/ConcertOne-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
  color: black;
}

/* Override browser autofill styles */
/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  color: white !important;
} */

input,
textarea {
  color: black;
}

button {
  background-color: #ccccff;
}

.home-headng {
  font-family: "Concert One", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}
